@font-face {
font-family: AlfaSlabOne;
src: url('/assets/FONTS/AlfaSlabOne-Regular.ttf');
}

@font-face {
font-family: Robota;
src: url('/assets/FONTS/Roboto-Black.ttf');
}

html, body {
  background: url('/assets/IMAGES/main_bg.png');
  background-size: cover;
  color: #d8d8d8;
}

h1, h2, h3 {
  color: #50E3C2;
  font-family: AlfaSlabOne, sans-serif;
}

a {
  color: #d8d8d8;
}
